# Your first line of Python code

Prints the text `Hello world!` as the output in just a single line of code.

In [2]:
print('Hello world!')

Hello world!

`print` is a builtin function that displays a message on the standard output. Functions are units of code that perform a specific operation in our program. We'll learn more about functions in a later sections

# Variables

Variables are named locations that store data in the program's memory. They are like containers that hold some data.
We use the assignment operator `=` to assign a value to a variable.

In [5]:
message = 'Hello world'

Variables can then be referenced to give us the value they contain.

In [6]:
print(message)

Hello world

Variables can also be reassigned that is, the value in them can be changed to something different

In [7]:
message = 'Python rocks!'
print(message)

Python rocks!

# Datatypes.

What are some of the data values that variables can contain?
Every value in Python has a type (datatype)
We can use the `type()` function to know which class a variable or a value belongs to.

## 1. Numbers
There are three types of numbers in Python `int`, `float` and `complex`

1. `int` represents integers - These are whole numbers eg 10, 165

2. `float` represents numbers with decimals(fraction parts) e.g 1.8, 2.0

3. `complex` represents complex numbers, these are numbers with real and imaginary parts(You won't deal with these often... unless you are doing scientific computating :) ) e.g 5+8j

In [8]:
#int
num1 = 5
print(type(num1))

<class 'int'>

In [9]:
num2 = 22.5
print(type(num2))

<class 'float'>

In [11]:
num3 = 1+1j
print(type(num3))

<class 'complex'>

## 2. Strings

A sequence of characters within quotation marks. We can use single, double or triple quotation marks. The `message` variable we created before was a string.

In [12]:
print(type(message))

<class 'str'>

In [16]:
caption = "Introduction to Python for Data Science and Machine Learning"
print(caption)

Introduction to Python for Data Science and Machine Learning

In [15]:
# A multine string
poem = '''
What win I, if I gain the thing I seek?
A dream, a breath, a froth of fleeting joy.
Who buys a minute's mirth to wail a week?
Or sells eternity to get a toy?
'''

print(poem)

What win I, if I gain the thing I seek?
A dream, a breath, a froth of fleeting joy.
Who buys a minute's mirth to wail a week?
Or sells eternity to get a toy?

We can use the `len()` function to get the length of characters in a string

In [3]:
month = 'April'
len(month)

5

Strings also support *indexing*. Each character is a string has an index. Strinsg are  The 1st character has an index of 0, the 2nd character has index 1 and so on

In [5]:
month[1]

'p'

Strings are *immutable*, we cannot the change the individual values in a string.Strings do not support item reassignment

In [45]:
month[0] = 'B' #Invalid operation

TypeError: 'str' object does not support item assignment

## 3. Boolean type

This type has two possible values `True` or `False`. These two are also special Python keywords. 
Booleans are used to perform conditional logic, where we can exectute our code based on certain conditions.

In [6]:
x = True
y = False
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

## Data Structures 

These are complex datatytes in Python that can hold more than a single value. They can contain a collection of values. They include **lists**, **sets**, **tuples** and **dictionaries**.

## 1. Lists
Lists are an ordered collection or sequence of items. They are created using square brackets `[]` and with comma seperated values

In [7]:
numbers = [1, 2, 3, 4, 5]
print(type(numbers))

<class 'list'>

Each item in a list can be accessed by referencing it's index. Lists are zero indexed. The first element has an index of 0, the 2nd element has an index of 1 and so on.

In [20]:
print(numbers[0])
print(numbers[4])

1
5

We can also use negative indexing to access items from behind the list(from the last index)

In [23]:
print(numbers[-1])
print(numbers[-2])

5
4

We can also extract a range of items from a list, this is commonly known as *slicing*

In [8]:
print(numbers)
numbers[0:3:1] #start index, end index(non inclusive), and step(optional, the default is 1)

[1, 2, 3, 4, 5]

[1, 2, 3]

In [26]:
print(numbers)
numbers[1:3]

[1, 2, 3, 4, 5]

[2, 3]

In [29]:
print(numbers)
numbers[2:] #Goes to the end of the array

[1, 2, 3, 4, 5]

[3, 4, 5]

In [30]:
numbers[:2] #Starts from index 0

[1, 2]

In [31]:
numbers[::2]

[1, 3, 5]

In [9]:
numbers[::-1] #the step value is -1, so it reads from backwards(reversing the list)

[5, 4, 3, 2, 1]

Lists are *mutable*, meaning we can reassign the values in a list based on their list

In [10]:
print(numbers)
numbers[0] = 24
print(numbers)

[1, 2, 3, 4, 5]
[24, 2, 3, 4, 5]

In [11]:
numbers[1:3] = [48, 96]
print(numbers)

[24, 48, 96, 4, 5]

Lists can also hold values of mixed datatypes (This is not often a good thing to do in practice as it can result in bugs(unexpected issues))

In [35]:
items = ['car',True, 5]

In most cases, you want your list containing values of the same type

In [37]:
menu_options = ['fries', 'pasta', 'lentils', 'milk shake'] # a list of strings
menu_options

['fries', 'pasta', 'lentils', 'milk shake']

We can use the `len()` function to get the *length* of a list. The length of a list is essentially the number of items contained in the list

In [41]:
len(numbers)

5

In [42]:
len(menu_options)

4

Lists can also contain other list as elements. These are called *multidimensional* lists(or matrices) and are a very common way of representing data in Machine learning applications

In [12]:
coordinates = [[37, 31], [32, 45], [21, 71]] #an example of a variable that can be used to hold a set of coordinate points

In [82]:
coordinates[0]

[37, 31]

In [83]:
coordinates[1][0]

32

In [13]:
coordinates[2][1]

71

> ### Strings also support *slicing* just like lists

In [47]:
language = 'python'
language[0:2]

'py'

## 2. Tuples

Tuples are an ordered sequence of items same as a list. The only difference is that tuples are immutable. Tuples once created cannot be modified. They are good for data integrity (to hold values that should not be changed or updated in our program).
Tuples are created using round brackets `()`

In [14]:
students = ('Martin', 'Joy', 'Winfred', 'Mike')
type(students)

tuple

Tuples support *indexing* and *slicing* but not item reassignment

In [49]:
students[0]

'Martin'

In [50]:
students[:3]

('Martin', 'Joy', 'Winfred')

In [51]:
students[0] = 'Collins' #Wrong code

TypeError: 'tuple' object does not support item assignment

## 3. Sets

Set is an unordered collection of unique items created using curly brackets `{}`. The items are unordered, meaning they do not have indexes. The items in a set are also unique, sets eliminate duplicate values.

In [62]:
sensor_temperatures = {22, 24.3, 21.6, 23.5, 24.3}
type(sensor_temperatures)

set

In [61]:
print(sensor_temperatures)

{24.3, 21.6, 22, 23.5}

Notice how we get a different order from the one we created after printing the values. Do you also notice that the duplicate value 24.3 is not part of the set, it gets removed. Sets can only contain unique values, duplicate items are removed.

Assuming that we were working on an IoT project that retrieves temperature data from a sensor and sends them to a Python API we have created, do you think a `set` like the one above would be the best data structure to store the values?

> Sets do not support *indexing* and *slicing* since they are unordered

In [60]:
sensor_temperatures[0] #error

TypeError: 'set' object is not subscriptable

## 3. Dictionary. 

Dictionary is an unordered collection of key-value pairs. Values are accessed using their keys

In [15]:
user_profile = {
    'name': 'Mark',
    'age': 50,
    'county': 'Nairobi',
    'retired': False
}
type(user_profile)

dict

In [65]:
#Accessing an item
user_profile['name']

'Mark'

In [16]:
#We can also reassign a value
user_profile['county'] = 'Kajiado'
print(user_profile)

{'name': 'Mark', 'age': 50, 'county': 'Kajiado', 'retired': False}

In [67]:
#We can create new keys
user_profile['next_kin'] = ['Mary', 'Sam']
print(user_profile)

{'name': 'Mark', 'age': 50, 'county': 'Kajiado', 'retired': False, 'next_kin': ['Mary', 'Sam']}

# Conversion between data types

We can convert between different data types by using different type conversion functions like `int()`, `float()`, `str()`

In [17]:
#Converting from float to int
temp = 37.3
temp = int(temp)
temp

37

In [74]:
#Converting from int to float
age = 19
age = float(19)
print(age)

19.0

In [77]:
#Converting from int to str
age = str(age)
print(type(age))

<class 'str'>

In [18]:
numbers = [1, 2, 3] 
tuple(numbers)

(1, 2, 3)

In [19]:
#Convert from list to set
set(numbers)

{1, 2, 3}

In [20]:
#From a list to a dictionary
dict([['name', 'Sam'], ['age', '20']])

{'name': 'Sam', 'age': '20'}

In [21]:
bool([]) #Any empty collection is evaluated to be false

False

In [22]:
bool({})

False

In [23]:
bool(1)

True

In [24]:
bool(0)

False

> Python also has truthy and falsy values
> In Python, None and 0 are also interpreted as False.

# Rules for variable naming

- Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example.
- An identifier cannot start with a digit. `1num` is invalid, but `num1` is a valid name.
- Keywords cannot be used as identifiers.
Keywords are reserved words in Python, already given a special meaning by the Python interprater(the program that runs Python code)
if = 1
- We cannot use special symbols like !, @, #, $, % etc. in our identifier
```$name = 'Frank' #Invalid syntax```

- An identifier can be of any length it can have any number of characters, but it's a good programming practice to keep variable names concise but clear

## Note
1. Python is a case-sensitive language. for example username and Username are two different variables. 
2. variable names(identifiers) should have clear names that indicate what the variable is likely to represent
for example `user_name` is better than un. Don't use arbritrary names, the varaible name should be communicative.
3. If you want to create a variable name having two words, use underscore _ to separate them. This is just a convention(standard practice) among many Python programmers
4. You can also create constants. These are variables that should not be reassigned. 
PI=3.142